@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root{
    --font01: 'Heebo', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

h1{
    background-color: #3a3a3a;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.596);
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding: 30px; 
    letter-spacing: 3px;
}

p{
    text-align: justify;
    padding: 15px;
}

.textogrande{
    position: absolute;
    left:50%;
	top:50%;
	margin-left: -165px;
	margin-top: -15px;
}

div#container01{
    background-color: white;
    background-image: url(imagens/Portugal.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 70%;
}

.formato-base{
    background-color: #F4F4F4;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--font01);
    padding-top: 35px;
}

div#container02{
    background-color: white;
    background-image: url(imagens/Islandia.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 70%;
}

.formato-base > p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.1em;
    line-height: 30px;
}

div#container02 > h2{
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding: 30px; 
    width: 300px;
    letter-spacing: 3px;
}

div#container03{
    background-color: white;
    background-image: url(imagens/canada.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 70%;
}

.formato-base2{
    background-color: #282E34;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    font-size: 1.1em;
    line-height: 30px;
}

div#container04{
    height: 70vh;
    background: white url(imagens/Chile.jpg) center center no-repeat fixed;
    background-size: cover;
    opacity: 70%;
}

footer > h2{
    padding: 0px;
    font-size: 1em;
    background-color: rgb(105, 105, 105);
    color: white;
    font-weight: normal;
    font-variant: small-caps;
    font-family: sans-serif;
}